/* Regular weight (body text) */
@font-face {
  font-family: "Sebenta";
  src: url("../fonts/Sebenta-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Regular Italic weight (body text) */
@font-face {
  font-family: "Sebenta";
  src: url("../fonts/Sebenta-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

/* Medium weight (body text) */
@font-face {
  font-family: "Sebenta";
  src: url("../fonts/Sebenta-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Bold weight (body text) */
@font-face {
  font-family: "Sebenta";
  src: url("../fonts/Sebenta-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  display: grid;
  place-content: start center;
  height: 100vh;
  background-color: #faf6f2;
  font-family: "Sebenta", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-family: "Sebenta", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

h2 {
  font-family: "Sebenta", sans-serif;
  font-size: 16px;
  font-weight: 600;
}